<link rel="stylesheet" href="~/assets/descargados/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="~/assets/descargados/responsive.bootstrap.min.css">
<link rel="stylesheet" href="~/assets/descargados/buttons.bootstrap5.min.css">
<link href="~/assets/descargados/select2.min.css" rel="stylesheet">

@{
    ViewBag.Title = "Kardek";
}

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card custom-card">
                <div class="card-header fs-18 fw-semibold mb-0 text-primary">
                    Mi Kardex
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <label for="AnioMesCbo" class="form-label">Seleccione Año - Mes</label>
                            <select class="form-select" id="AnioMesCbo" name="state">
                                @{ DateTime f_Actual = DateTime.Now;
                                    int mes = f_Actual.Month;
                                    int mes_num = 0;

                                    while (mes_num < 4)
                                    {
                                        if (mes_num == 0)
                                        {
                                            <option value="@DateTime.Now.AddMonths(mes_num * -1).ToString("yyMM")" data_m="@DateTime.Now.AddMonths(mes_num * -1 -1).ToString("yyMM")" selected">@DateTime.Now.AddMonths(mes_num * -1).ToString("yyyy-MM")</option>

                                        }
                                        else
                                        {
                                            <option value="@DateTime.Now.AddMonths(mes_num * -1).ToString("yyMM")" data_m="@DateTime.Now.AddMonths(mes_num * -1 -1).ToString("yyMM")">@DateTime.Now.AddMonths(mes_num * -1).ToString("yyyy-MM")</option>
                                        }
                                        mes_num++;
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-1">
                            <label for="AlmacenCbo" class="form-label">Almacén</label>
                            <select id="AlmacenCbo" class="form-select form-control-sm mb-2">
                                @{
                                    var usu_data = Session["SessionUsuario"] as WebAppMontGroup.Entity.Usuario;
                                    if (usu_data.codigoalmacen != "")
                                    {
                                        <option value="@usu_data.codigoalmacen">@usu_data.codigoalmacen</option>
                                    }
                                    foreach (var usu in Session["VendedorAsociado"] as IList<WebAppMontGroup.Entity.Usuario>)
                                    {
                                        if (usu.codigoalmacen != "")
                                        {
                                            <option value="@usu.codigoalmacen">@usu.codigoalmacen</option>
                                        }
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-xl-2" style="margin-bottom: 10px;">
                            <label for="divButton" class="form-label">&nbsp;</label>
                            <div id="divButton"> 
                                <button type="button" class="btn btn-primary btn-wave waves-effect waves-light btnmg" style="width:100%" id="BtnActualizarMesAnioAlmacen">Buscar Productos</button>
                            </div>
                        </div>
                        <div class="col-xl-7" style="margin-bottom: 10px;">&nbsp;</div>
                        <div class="col-xl-5" style="margin-bottom: 10px;">
                            <label for="SelectProducto" class="form-label">Filtrar Producto</label>
                            <select class="js-example-basic-single" id="SelectProducto" name="state">
                                <option value="-1">Escriba el nombre o código del producto</option>
                                <option value="0">Todos</option>
                                <option value="s-1">Selection-1</option>
                                <option value="s-2">Selection-2</option>
                                <option value="s-3">Selection-3</option>
                                <option value="s-4">Selection-4</option>
                                <option value="s-5">Selection-5</option>
                            </select>
                        </div>

                        @*<div class="col-xl-4" style="margin-top:7px;text-align:center">
                                <div class="alert alert-outline-light alert-dismissible fade show">
                                    PRODUCTO SELECCIONADO PARA EL CALULO DE KARDEX - 1234566542
                                </div>
                            </div>
                            <div class="col-xl-2" style="margin-top: 7px; text-align: center ">
                                <div class="alert alert-outline-light alert-dismissible fade show">
                                    Stock inicial: <span class="alert-link" id="lblSaldoInicial">0</span>
                                </div>
                            </div>*@
                    </div>
                </div>


            </div>
            <div class="card-body" style="padding-top:0px">
                <table id="file-export" class="table table-bordered text-nowrap w-100">
                    <thead>
                        <tr>
                            <th style="background: #f8f9f9">Documento</th>
                            <th style="background: #f8f9f9">Fecha</th>
                            <th style="background: #f8f9f9">Coa</th>
                            <th style="background: #f8f9f9">Razon Social</th>
                            <th style="background: #f8f9f9">Lote</th>
                            <th style="background: #f8f9f9">Vecimiento</th>
                            <th style="background: #f8f9f9">Ingreso</th>
                            <th style="background: #f8f9f9">Salida</th>
                            <th style="background: #f8f9f9">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>FRANCIS</td>
                                <td>FRANCIS</td>
                                <td>Lote</td>
                                <td>Vecimiento</td>
                                <td>Ingreso</td>
                                <td>Salida</td>
                                <td>Saldo</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->


<div class="modal fade" id="exampleModalScrollableKardex" tabindex="-1" data-bs-backdrop="static"
     aria-labelledby="exampleModalScrollableKardex" data-bs-keyboard="false"
     aria-hidden="true">
    <!-- Scrollable modal -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--<div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel2">
                    Modal title
                </h6>
            </div>-->
            <div class="modal-body" style="text-align:center">
                <img src="~/assets/images/loading.gif" />
                <p>
                    Estamos cargando la información. Por favor, espere.
                </p>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/descargados/jquery.dataTables.min.js"></script>
<script src="~/assets/descargados/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/descargados/dataTables.responsive.min.js"></script>
<script src="~/assets/descargados/dataTables.buttons.min.js"></script>
@*<script src="~/assets/descargados/buttons.print.min.js"></script>*@
@*<script src="~/assets/descargados/pdfmake.min.js"></script>*@
@*<script src="~/assets/descargados/vfs_fonts.js"></script>*@
<script src="~/assets/descargados/buttons.html5.min.js"></script>
<script src="~/assets/descargados/jszip.min.js"></script>

<!-- Select2 Cdn -->
<script src="~/assets/descargados/select2.min.js"></script>

<!-- Internal Select-2.js -->
<script src="~/assets/js/select2.js"></script>


<!-- Internal Datatables JS -->
<script src="~/assets/js/datatables.js"></script>

<script type="text/javascript">

    var saldo_inicial = 0;

    $(document).ready(function () {
        $('#exampleModalScrollableKardex').modal('show');
        consularProductosKardex();
        //
        //consularKardex();
    });

    $("#BtnActualizarMesAnioAlmacen").click(function () {
        $('#exampleModalScrollableKardex').modal('show');
        consularProductosKardex();
        var table = new DataTable('#file-export');
        var rows = table
            .rows()
            .remove()
            .draw();
    });

    $('#SelectProducto').on('change', function () {
        $('#exampleModalScrollableKardex').modal('show');
        saldo_inicial = 0;

        let myPromise1 = new Promise(function (resolve, reject) {
            consularStockInicial();
        });
        setTimeout(function () {
            let myPromise2 = new Promise(function (resolve, reject) {
                consularKardex();
            });
        }, 2000);
    });

    $('#AnioMesCbo').on('change', function () {
        fnLimpiarProductos();
        var table = new DataTable('#file-export');
        var rows = table
            .rows()
            .remove()
            .draw();
    });


    $('#AlmacenCbo').on('change', function () {
        fnLimpiarProductos();
        var table = new DataTable('#file-export');
        var rows = table
            .rows()
            .remove()
            .draw();
    });




    function fnLimpiarProductos() {
        $("#SelectProducto").empty();
        $('#SelectProducto').append('<option value="-1">Escriba el nombre o código del producto</option>');
    }

    async function consularProductosKardex() {
        setTimeout(function () {

            //document.getElementById('#SelectProducto').innerHTML = '';
            //$("#SelectProducto").empty();
            //$('#SelectProducto').append('<option value="-1">Seleccione Producto</option>');

            fnLimpiarProductos();

            $.ajax({
                url: '../Almacen/sotckArticulosAlmacen',
                type: 'GET',
                data: {
                    aniomes: $("#AnioMesCbo").val(),
                    almacen: $("#AlmacenCbo").val()
                },
                success: function (response) {
                    if (response == "-1") {
                        document.location.href = "/MG360";
                    }
                    //console.log(response);
                    $.each(response, function (key, value) {
                        $('#SelectProducto').append('<option value="' + value.articulo + '">' + value.artic_dsc + '[' + value.articulo + ']</option>');
                    })

                    $("#exampleModalScrollableKardex").modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }, 1000);
    }



    async function consularStockInicial(anio_mes_ant) {

        var table = new DataTable('#file-export');
        var rows = table
            .rows()
            .remove()
            .draw();

        $.ajax({
            url: '../Almacen/StockAlmacen',
            type: 'GET',
            data: {
                aniomes: $("#AnioMesCbo").find(':selected').attr("data_m"),
                almacen: $("#AlmacenCbo").val(),
                articulo: $("#SelectProducto").val()
            },
            success: function (response) {
                //console.log(response);
                if (response == "-1") {
                    document.location.href = "/MG360";
                }
                $.each(response, function (key, value) {

                    saldo_inicial = parseInt(value.Cantidad);

                    $('#file-export').DataTable().row.add($('<tr>' +
                        '<td class="fw-semibold text-muted ms-1 text-dark">' + 'Saldo Inicial' + '</td>' +
                        '<td>' + '' + '</td>' +
                        '<td>' + '' + '</td>' +
                        '<td>' + '' + '</td>' +
                        '<td>' + '' + '</td>' +
                        '<td>' + '' + '</td>' +
                        '<td>' + value.Cantidad + '</td>' +
                        '<td>' + '0' + '</td>' +
                        '<td>' + value.Cantidad + '</td>' +
                        '</tr>')).draw();
                })

            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    async function consularKardex() {

        var saldo = saldo_inicial;
        var fecha = "";
        var fecha_exp = "";

        $.ajax({
            url: '../Almacen/KardexAlmacen',
            type: 'GET',
            data: {
                aniomes: $("#AnioMesCbo").val(),
                almacen: $("#AlmacenCbo").val(),
                articulo: $("#SelectProducto").val()
            },
            success: function (response) {
                //console.log(response);
                if (response == "-1") {
                    document.location.href = "/MG360";
                }
                $.each(response, function (key, value) {
                    //console.log(value.Articulo);
                    fecha = value.doc_fch.substring(6, 8) + '/' + value.doc_fch.substring(4, 6) + '/' +  value.doc_fch.substring(0, 4) 
                    fecha_exp = value.fch_exp.substring(6, 8) + '/' + value.fch_exp.substring(4, 6) + '/' + value.fch_exp.substring(0, 4);
                    saldo = saldo + parseInt(value.und_i) - parseInt(value.und_s);

                    if (value.oper_log == "SVT") {
                        $('#file-export').DataTable().row.add($('<tr>' +
                            '<td><a class="fw-semibold text-muted ms-1 text-success" href="javascript:consultarFacturaElectronica(' + "'" + value.doc_ref + "','" + value.doc_serie_ref + "','" + value.doc_nro_ref + "'" + ');">' + value.doc_ref + '-' + value.doc_serie_ref + '-' + value.doc_nro_ref + '</a></td>' +
                            '<td>' + fecha + '</td>' +
                            '<td>' + value.coa_ref + '</td>' +
                            '<td>' + value.coa_dsc_ref + '</td>' +
                            '<td>' + value.lote + '</td>' +
                            '<td>' + fecha_exp + '</td>' +
                            '<td>' + value.und_i + '</td>' +
                            '<td>' + value.und_s + '</td>' +
                            '<td>' + saldo + '</td>' +
                            '</tr>')).draw();
                    } else {
                        $('#file-export').DataTable().row.add($('<tr>' +
                            '<td><a class="fw-semibold text-muted ms-1 text-info" href="javascript:consultarGuiaElectronica(' + "'" + value.doc_serie + "','" + value.doc_nro + "'" + ');">' + value.doc_serie + '-' + value.doc_nro + '</a></td>' +
                            '<td>' + fecha + '</td>' +
                            '<td>' + value.coa + '</td>' +
                            '<td>' + 'Transferencia de almacén' + '</td>' +
                            '<td>' + value.lote + '</td>' +
                            '<td>' + fecha_exp + '</td>' +
                            '<td>' + value.und_i + '</td>' +
                            '<td>' + value.und_s + '</td>' +
                            '<td>' + saldo + '</td>' +
                            '</tr>')).draw();
                    }

                })

                $("#exampleModalScrollableKardex").modal('hide');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function consultarFacturaElectronica(doc, ser, num) {
        $.ajax({
            url: '../Almacen/consultarFacturaElectronica',
            type: 'GET',
            data: {
                doc: doc,
                ser: ser,
                num: num
            },
            success: function (response) {
                //console.log(response);
                if (response == "-1") {
                    document.location.href = "/MG360";
                }
                window.open(response, "Documento:" + doc + "-" + ser + "-" + num);
                //window.open(response, "Documento:" + doc + "-" + ser + "-" + num, "toolbar = 0, scrollbars = 0, location = 0, statusbar = 0, menubar = 0, resizable = 1, width = 80%, height = 50%,");
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function consultarGuiaElectronica(serie, num) {
        $.ajax({
            url: '../Almacen/consultarGuiaElectronica',
            type: 'GET',
            data: {
                serie: serie,
                num: num
            },
            success: function (response) {
                //console.log(response);
                if (response == "-1") {
                    document.location.href = "/MG360";
                }
                window.open(response, "Documento:" + serie + "-" + num);
                //window.open(response, "Documento:" + doc + "-" + ser + "-" + num, "toolbar = 0, scrollbars = 0, location = 0, statusbar = 0, menubar = 0, resizable = 1, width = 80%, height = 50%,");
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

</script>

<style>
    .buttons-copy {
        display: none !important;
    }

    .buttons-csv {
        display: none !important;
    }
</style>

<link href="~/assets/css/cssMG.css" rel="stylesheet" />